/* CSS Resetting Margin and Padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* Navbar Styleing */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding-right: 25px;
}

.logo-navbar {
  margin-right: auto;
  padding: 20px;
  background-color: #fc8a94;
}

.logo-style {
  width: 40px;
  height: auto;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__links li {
  padding: 0 10px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}

.icon-style {
  width: 25px;
  height: 25px;
}

/* bubble status */
.bell-bubble {
  position: relative;
}
.bell-bubble:after {
  content: "5";
  width: 20px;
  height: 20px;
  color: #ffffff;
  text-align: center;
  background: red;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
}

.user-avatar {
  border-radius: 50%;
  border: #ffffff solid 3px;
  width: 50px;
  height: 50px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Sidebar Styleing */
.side {
  background-color: #ffffff;
  width: 80px;
  height: auto;
  float: left;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sidebaricon-box {
  padding: 50px 0 30px 10px;
  margin: auto;
  height: auto;
  width: 50%;
}

.hover-sidebar:hover {
  background-color: rgba(252, 138, 148, 0.3);
  transition: 1s ease-out;
}

.active-icon {
  background-color: rgba(252, 138, 148, 0.3);
}

.arrow {
  width: 10px;
  height: 10px;
}

/* Search bar Styleing */
.search-box {
  display: flex;
  padding: 25px;
}

form {
  align-items: center;
  display: flex;
  background-color: #ffffff;
  padding: 10px 25px 10px 25px;
  width: 370px;
}

input {
  border: none;
  border-right: 0px;
  outline: none;
  padding: 8px;
}
input::placeholder {
  font-style: italic;
}

.fa {
  width: 15px;
  height: 15px;
  width: 15px;
  height: 15px;
}

.search-text {
  padding: 20px 25px 0px 25px;
}

.flex-text {
  padding: 10px 25px 10px 25px;
  display: flex;
  justify-content: space-between;
}

.hr-search {
  width: 90%;
  border-top: 1px solid #e9e9e9;
  margin: auto;
}

/* Contact list style */
.contact-list-container {
  width: 420px;
  padding: 10px 25px 10px 25px;
  height: 420px;
  overflow: auto;
}
.contact-list-container::-webkit-scrollbar {
  display: none;
}

.flex-user {
  display: flex;
  padding: 25px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
.flex-user:hover {
  background-color: #fc8a94;
  color: #ffffff;
}
.flex-user:hover p {
  color: #ffffff;
}

p {
  color: #c4c4c4;
}

/* Chat Styleing */
.active-chat {
  background-color: #fc8a94;
  color: #ffffff;
}
.active-chat p {
  color: #ffffff;
}

.col-user {
  padding-right: 25px;
}

h4 {
  font-weight: 500;
}

.text-box {
  line-height: 1.5;
}

/* bubble status */
.user-avatar-bubble.-online-bubble {
  position: relative;
}
.user-avatar-bubble.-online-bubble:after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 72%;
  border-radius: 50%;
}

.user-avatar-bubble.-online-bubble.online:after {
  background: #32f577;
}

.user-avatar-bubble.-online-bubble.busy:after {
  background: #fb0d1b;
}

.user-avatar-bubble.-online-bubble.out:after {
  background: #b1c2cc;
}

.user-avatar-bubble.-online-bubble.orange:after {
  background: #f9a544;
}

.flex-container {
  display: flex;
}

.flex-info-nav {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #e9e9e9;
}

.user-name {
  color: #808080;
  padding-left: 10px;
}

.col-1 {
  padding: 20px 10px 0px 10px;
}

.container-chat {
  background-color: #ffffff;
}

.scorller-chat {
  height: 30rem;
  overflow: auto;
}
.scorller-chat::-webkit-scrollbar {
  display: none;
}

.rounded-img {
  border: #ffffff solid 5px;
  border-radius: 50%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chat-box {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: auto;
  padding: 10px;
  line-height: 1.6;
  border-radius: 10px;
}

.flex-chat-box {
  display: flex;
  padding: 30px 0 0 20px;
}

.img-box {
  padding-right: 25px;
}

.time {
  float: right;
}

.big-box {
  width: 50%;
}

.flex-chat-box-right {
  display: flex;
  justify-content: flex-end;
  height: auto;
  padding: 10px;
  line-height: 1.6;
  border-radius: 10px;
}

.img-box-right {
  padding-left: 25px;
  padding-right: 25px;
}

.chat-box-right {
  background-color: #f6f7fb;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: end;
}

.check-icon {
  width: 10px;
  height: 10px;
}

.normal::placeholder {
  font-style: normal;
}

/* Send bar Styleing */
.flex-send {
  border-top: 1px solid #e9e9e9;
  justify-content: space-between;
  display: flex;
  background-color: #ffffff;
  width: 100%;
}

/* Media Queries */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .side {
    display: none;
  }

  .contacts-component {
    display: none;
  }

  .img-box {
    display: none;
  }

  .img-box-right {
    display: none;
  }

  .big-box {
    width: 80%;
  }

  .user-nav {
    font-size: 15px;
  }

  .icon-style {
    width: 15px;
    height: 15px;
  }

  .bell-bubble:after {
    width: 12px;
    height: 12px;
    font-size: 10px;
  }

  .user-avatar.nav {
    width: 30px;
    height: 30px;
  }

  .logo-navbar {
    padding: 8px;
  }
}
/* Medium devices */
@media only screen and (max-width: 900px) {
  /* If the screen size is 900px or less, hide the side bar */
  .side {
    display: none;
  }
}