/* VARIABLES */

// Colours
$grey-background: #f6f6f6;
$white: #ffffff;
$pink: #fc8a94;
$black: #000000;
$grey: #e9e9e9;
$grey-text: #c4c4c4;
$pink-hover: rgba(252, 138, 148, 0.3);

// Shadow
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$rounded: 50%;

// Font sizes
$bannerHeading: 42px;
$sectionHeading: 24px;
